/* CSS declarations go here */

* {
   box-sizing: border-box;
   font-family: 'Helvetica', sans-serif;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

body {
   background-color: #333;
}

.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   perspective: 1400px;
}

.game-board {
   display: flex;
   flex-direction: column;
   transform-style: preserve-3d;
   transform: rotateX(60deg) rotateZ(-45deg);
}

.game-board .row {
   display: flex;
   flex-direction: row;
}

.game-space {
   width: 11.6rem;
   height: 11.6rem;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #777;
   border: 1px solid #333;
}

.built-level {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 11.6rem;
   height: 11.6rem;
   border: 1px solid #333;
}

.built-level-1 {
   z-index: 10;
   transform: translateZ(5px);
   background-color: #888;
}

.built-level-1 + .game-space-button {
   transform: translateZ(6px);
   z-index: 11;
}

.built-level-2 {
   z-index: 20;
   transform: translateZ(10px);
   background-color: #999;
}

.built-level-2 + .game-space-button {
   transform: translateZ(11px);
   z-index: 21;
}

.built-level-3 {
   z-index: 30;
   transform: translateZ(15px);
   background-color: #aaa;
}

.built-level-3 + .game-space-button {
   transform: translateZ(16px);
   z-index: 31;
}

.built-level-4 {
   transform: translateZ(20px);
   z-index: 40;
   background-color: #3855cd;
}

.built-level-4 + .game-space-button {
   transform: translateZ(21px);
   z-index: 41;
}

.game-space-button {
   background-color: rgba(181, 48, 116, 0.7);
   position: absolute;
   top: 0;
   left: 0;
   width: 11.6rem;
   height: 11.6rem;
   z-index: 1;
   transform: translateZ(1px);
}

.game-space-button:hover {
   background-color: rgba(211, 0, 0, .7);
}

.game-space-button:disabled {
   background-color: rgba(255, 255, 255, .5) !important;
}

.player-piece {
   height: 90%;
}

.prompt-text {
   font-size: 2.4rem;
   color: white;
   padding-top: 1rem;
   text-transform: uppercase;
}

.rotate-buttons-container {
   display: flex;
   flex-direction: row;
}

.game-ui-button {
   background-color: transparent;
   border: 2px solid white;
   color: white;
   height: 5rem;
   width: 15rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem;
   cursor: pointer;
}

.back-button {
   position: fixed;
   top: 1rem;
   left: 1rem;
}

.win-modal {
   position: fixed;
   z-index: 100;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, .5);
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.win-modal h2 {
   color: white;
   font-size: 6.4rem;
}