/* CSS declarations go here */

* {
  box-sizing: border-box;
  font-family: $josefin;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: 890px) {
    font-size: 50%;
  }

  @media screen and (max-width: 680px) {
    font-size: 45%;
  }

  @media screen and (max-width: 610px) {
    font-size: 37%;
  }

  @media screen and (max-width: 530px) {

  }
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: $slate;
  background-image: linear-gradient(rgba(darken($blue, 30%), .8), rgba($slate, .8)), url('http://res.cloudinary.com/sorebear/image/upload/v1533507640/santorini.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

button,
button:active,
button:hover {
  outline: none;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 1400px;
  overflow: hidden;
}