@keyframes buildLevel1 {
  0% {
    transform: translateZ(-6rem) scale(.1);
  }

  100% {
    transform: translateZ(.3rem) scale(1);
  }
}

@keyframes buildLevel2 {
  0% {
    transform: translateZ(.3rem) scale(.1);
  }

  100% {
    transform: translateZ(6.1rem) scale(1);
  }
}

@keyframes buildLevel3 {
  0% {
    transform: translateZ(6.1rem) scale(.1);
  }

  100% {
    transform: translateZ(11.9rem) scale(1);
  }
}

@keyframes buildLevel4 {
  0% {
    transform: translateZ(11.9rem) scale(.1);
  }

  100% {
    transform: translateZ(17.7rem) scale(1);
  }
}

.block-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 11.6rem;
  height: 11.6rem;
  margin: auto;
  transform-style: preserve-3d;
  display: flex;
}

.block {
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 2.6rem) rotate3d(0, 0, 0, 0deg);
}

.block-side {
  width: 100%;
  height: 100%;
}

.block-face {
  margin: 0;
  display: block;
  position: absolute;
  border: 2px solid rgba(100, 100, 100, .4);
  transform-style: preserve-3d;
  box-sizing: border-box;
  background-color: $offwhite;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
}

.built-level-4 .block-face {
  background-image: none;
  background-color: $blue;
}

.block-face.top {
  height: 11.6rem;
  width: 11.6rem;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  transform: translate3d(0, 0, 2.9rem) rotate3d(0, 0, 0, 0deg);
}

/* .block-face.bottom {
  height: 11.6rem;
  width: 11.6rem;
  transform: translate3d(0, 0, -2.9rem) rotate3d(0, 1, 0, 180deg);
} */

.block-face.left {
  height: 11.6rem;
  transform: translate3d(-2.9rem, 0, 0) rotate3d(0, 1, 0, 90deg);
}

.block-face.right {
  height: 11.6rem;
  transform: translate3d(8.7rem, 0, 0) rotate3d(0, 1, 0, -90deg);
}

.block-face.front {
  width: 11.6rem;
  transform: translate3d(0, 8.7rem, 0) rotate3d(1, 0, 0, 90deg);
}

.block-face.back {
  width: 11.6rem;
  transform: translate3d(0, -2.9rem, 0) rotate3d(1, 0, 0, 90deg);
}

.built-level {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 11.6rem;
  height: 11.6rem;
  transform-style: preserve-3d;
}

.built-level-1 {
  z-index: 10;
  transform: translateZ(.3rem);

  &.animate:last-of-type {
    animation: buildLevel1 .3s forwards;
  }
}

.built-level-1 ~ .game-space-button,
.built-level-1 + .worker-container {
  transform: translateZ(5.81rem);
  z-index: 11;
}

.built-level-2 {
  z-index: 20;
  transform: translateZ(6.1rem);

  &.animate:last-of-type {
    animation: buildLevel2 .3s forwards;
  }
}

.built-level-2 ~ .game-space-button,
.built-level-2 + .worker-container {
  transform: translateZ(11.61rem);
  z-index: 21;
}

.built-level-3 {
  z-index: 30;
  transform: translateZ(11.9rem);

  &.animate:last-of-type {
    animation: buildLevel3 .3s forwards;
  }
}

.built-level-3 ~ .game-space-button,
.built-level-3 + .worker-container {
  transform: translateZ(17.41rem);
  z-index: 31;
}

.built-level-4 {
  transform: translateZ(17.7rem);
  z-index: 40;

  &.animate:last-of-type {
    animation: buildLevel4 .3s forwards;
  }
}

.built-level-4 + .game-space-button {
  transform: translateZ(21px);
  z-index: 41;
}