.crown-container {
	transform-style: preserve-3d;
	position: absolute;
	left: 0;
  top: 0;

  .block-face {
    border-color: darken($blue, 15%);
  }
  
  .block.crown-level-1 {
    transform-style: preserve-3d;
    transform: translate3d(0, 0, .3rem);
		width: 1rem;
		height: 1rem;

		.block-face.top {
			height: 11.6rem;
			width: 11.6rem;
			transform: translate3d(0, 0, 0.5rem) rotate3d(0, 0, 0, 0deg);
		}

		.block-face.left {
			height: 11.6rem;
			transform: translate3d(-0.45rem, 0, 0) rotate3d(0, 1, 0, 90deg);
		}

		.block-face.right {
			height: 11.6rem;
			transform: translate3d(11rem, 0, 0) rotate3d(0, 1, 0, -90deg);
		}

		.block-face.front {
			width: 11.6rem;
			transform: translate3d(0, 11rem, 0) rotate3d(1, 0, 0, 90deg);
		}

		.block-face.back {
			width: 11.6rem;
			transform: translate3d(0, -0.4rem, 0) rotate3d(1, 0, 0, 90deg);
		}
	}

	.block.crown-level-2 {
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 1.4rem);
    top: .55rem;
    left: .55rem;
		width: 1rem;
		height: 1rem;

		.block-face.top {
			height: 10.5rem;
			width: 10.5rem;
			transform: translate3d(0, 0, 0.5rem) rotate3d(0, 0, 0, 0deg);
		}

		.block-face.left {
			height: 10.5rem;
			transform: translate3d(-0.45rem, 0, 0) rotate3d(0, 1, 0, 90deg);
		}

		.block-face.right {
			height: 10.5rem;
			transform: translate3d(10rem, 0, 0) rotate3d(0, 1, 0, -90deg);
		}

		.block-face.front {
			width: 10.5rem;
			transform: translate3d(0, 10rem, 0) rotate3d(1, 0, 0, 90deg);
		}

		.block-face.back {
			width: 10.5rem;
			transform: translate3d(0, -0.4rem, 0) rotate3d(1, 0, 0, 90deg);
		}
  }
  
  .block.crown-level-3 {
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 2.5rem);
    top: 1.8rem;
    left: 1.8rem;
		width: 1rem;
		height: 1rem;

		.block-face.top {
			height: 8rem;
			width: 8rem;
			transform: translate3d(0, 0, 0.5rem) rotate3d(0, 0, 0, 0deg);
		}

		.block-face.left {
			height: 8rem;
			transform: translate3d(-0.45rem, 0, 0) rotate3d(0, 1, 0, 90deg);
		}

		.block-face.right {
			height: 8rem;
			transform: translate3d(7.35rem, 0, 0) rotate3d(0, 1, 0, -90deg);
		}

		.block-face.front {
			width: 8rem;
			transform: translate3d(0, 7.35rem, 0) rotate3d(1, 0, 0, 90deg);
		}

		.block-face.back {
			width: 8rem;
			transform: translate3d(0, -0.4rem, 0) rotate3d(1, 0, 0, 90deg);
		}
	}

	.block.crown-level-4 {
    transform: translate3d(0, 0, 3.6rem);
		transform-style: preserve-3d;
		width: 1rem;
		height: 1rem;
		top: 3.2rem;
		left: 3.2rem;

		.block-face.top {
			height: 5.4rem;
			width: 5.4rem;
			transform: translate3d(0, 0, 0.5rem) rotate3d(0, 0, 0, 0deg);
		}

		.block-face.left {
			height: 5.4rem;
			transform: translate3d(-0.45rem, 0, 0) rotate3d(0, 1, 0, 90deg);
		}

		.block-face.right {
			height: 5.4rem;
			transform: translate3d(4.9rem, 0, 0) rotate3d(0, 1, 0, -90deg);
		}

		.block-face.front {
			width: 5.4rem;
			transform: translate3d(0, 4.9rem, 0) rotate3d(1, 0, 0, 90deg);
		}

		.block-face.back {
			width: 5.4rem;
			transform: translate3d(0, -0.4rem, 0) rotate3d(1, 0, 0, 90deg);
		}
	}
}
