/* CSS declarations go here */

* {
  box-sizing: border-box;
  font-family: $josefin;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $slate;
  // background-image: linear-gradient(darken($blue, 20%), $slate);
  background-size: cover;
  background-position: center;
}

button,
button:active,
button:hover {
  outline: none;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  perspective: 1400px;
}